<% if  params[:select_version] != 'backlog'%>
  <tr class="version_row">
    <td colspan="8"><%= l(:label_version_backlog)%></td>
  </tr>   
<% end %>
<% issues_backlog.each do |issue|%>
	<% if @issues %>
		<% @issues.each do |select_issue|%>
			<% if select_issue.id == issue.id %>
				<tr class="issue_row">
					<%= render :partial => "list_issues", :locals => { :issue => issue} %>
				</tr>
			<% end %>
		<% end %>
	<% else %>
		<tr class="issue_row">
			<%= render :partial => "list_issues", :locals => { :issue => issue} %>
		</tr>
	<% end %>
<% end %>