<div class="board_issue clearfix" id="<%= issue.id %>">
  <%= render :partial => "show_issue", :locals => { :issue => issue} %>
  <%= render :partial => "edit_issue", :locals => { :issue => issue} %>
</div>

