<div class="from_add_edit_issue from_edit_issue from_edit_issue_{{issue.id}} hide">
	<form editable-form name="editableForm" onaftersave="editIssue(issue)" onbeforesave="checkParamsEditIssue(issue)" e-required>
		<input type="hidden" ng-init="issue.id=issue.id" >
		<span style="color: red;font-weight: 100;">{{errorDate}}</span>
		<table >
			<tr>
				<td colspan="2" style="display: block; width: 98%;"><span editable-text="issue.subject" e-name="subject" e-required>{{ issue.subject || 'empty' }}</span></td>
			</tr>
			<tr>
				<td colspan="2" style="display: block; width: 98%;">
				  <span editable-textarea="issue.description" e-name="description" e-rows="5" placeholder='enter username' >{{ issue.description || 'empty' }}</span>
				</td>
			</tr>
			<tr style="display: inline-flex; width: 98%;">
				<td>
					<span>Tracker:</span>
					<span editable-select="issue.tracker_id" e-name="tracker_id" e-ng-options="tracker.id as tracker.name for tracker in trackers">
            {{ (trackers | filter:{id: issue.tracker_id})[0].name || 'Not set' }}
          </span>
				</td>
				<td>
					<span>Priority:</span>
					<span class="value_content" editable-select="issue.priority_id" e-name="priority_id" e-ng-options="priority.id as priority.name for priority in priorities">
            {{ (priorities | filter:{id: issue.priority})[0].name || 'Not set' }}
          </span>
				</td>
			</tr>
			<tr style="display: inline-flex; width: 98%;">
				<td>
					<span>Asigned To:</span>
					<span class="value_content" editable-select="issue.assigned_to_id" e-name="assigned_to_id" e-ng-options="member.id as member.firstname for member in members">
            {{ (members | filter:{id: issue.member})[0].firstname || 'Not set' }}
          </span>
				</td>
				<td class="estimated_hours">
					<span>Est. Hour:</span>
					<span editable-text="issue.estimated_hours" e-name="estimated_hours">{{ issue.estimated_hours || 'empty' }}</span>
					
				</td>
			</tr>
			<tr style="display: inline-flex; width: 98%;" >
				<td>
					<span>Start: </span>
					<input type="date" ng-model="issue.start_date" value="{{ issue.start_date | date: 'yyyy-MM-dd' }}" class="start_date"/>
				</td>
				<td>
					<span>Due to:</span>
					<input type="date" ng-model="issue.due_date" value="{{ issue.due_date | date: 'yyyy-MM-dd' }}" class="due_date"/>					
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" class="submit_edit_issue" issue_id='{{issue.id}}' ng-disabled="editableForm.$waiting" value="Save">
					<input type="button" class="cancel_edit_issue" issue_id='{{issue.id}}' ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" value="Cancel">
				</td>
			</tr>
		</table>
	</form>
</div><!--end add new issue -->
