<div class="div_version" id="version.<%= version.id %>">
	<p class="version_name">
		<%= version.name %>
	</p>
	<div class="div_list_issues">
		<% version.fixed_issues.each do |issue|%>
			<% if @issues %>
				<% @issues.each do |select_issue|%>
					<% if select_issue.id == issue.id %>
						<%= render :partial => "list_issues", :locals => { :issue => issue} %>
					<% end %>
				<% end %>
			<% else %>
				<%= render :partial => "list_issues", :locals => { :issue => issue} %>
			<% end %>
		<% end %>
	</div>
</div>
