<div class="div_version" id="version.<%= version.id %>">
	<p class="version_name"><%= version.name %></p>
	<div class="div_list_issues">
	<% version.fixed_issues.each do |issue|%>
	<%= render :partial => "list_issues",  :locals => { :issue => issue} %>
	<% end %>
	</div>
</div>
