li {
  list-style: none !important;
}
.right-filter {
  float:right;
}
.width-100 {
  width: 100px;
}
.left-filter {
  float:left;
}

.col-50 {
  width:48%;
  padding:5px 1%;
  float:left;
}
.text-left {
  text-align: left;
}
.float-left {
  float:left;
}
.float-right {
  float:right;
}
.text-right {
  
  text-align:right;
}
#div_screen_board {
  text-align: center;
}

.board {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 30%;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.boad#div_news{
  float: left;
}
.boad#div_completed{
  float: right;
}
.version_row {
  background-color: #DFF0D8;
}

#check_all {
  cursor: pointer
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

#div_screen_board .issue_subject {
  width: 100%;
  margin-bottom:7px;
}
#div_screen_board .issue_description {
  width: 100%;
}

#div_screen_board .board_issue {
  width: 100%;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.btn_submit:hover {
  text-decoration: none;
}

.view_issue {
  width: 100%;
}

.btn_submit {
  float: right;
  margin: 0 0 0 5px;
}
.btn_submit_board {
  float: right;
  margin: 0 0 10px 0;
}



#ui-datepicker-div {
  display: none;
}

.assignee {
  width: 99.5%;
  font-size: 12px;
  margin: -8px 0 0 0;
}

.description {
  margin: -10px 0 0 0;
}

.description p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.connectedSortable {
  padding-bottom: 50px;
}

.submit_edit_issue {

}
.div_description {
  border-top: 1px solid #339BB9;
  padding: 3px;
  margin: 0 0 5px 0;
  overflow: hidden;
  font-size: 13px;
}
.readmore {
  text-decoration: none;
  font-size: 12px;
}
.readmore:hover {
  text-decoration: none;
}
.hide:hover {
  text-decoration: none;
}

.hide {
  display: none;
  text-decoration: none;
  font-size: 12px;
}

.board p.status {
  float: left;
  color: #606264;
  font-size: 17px;
  font-weight: bold;
  font-family: Trebuchet MS, Georgia, "Times New Roman", serif;
  margin: 5px 0 10px 10px;
}

.board_issue:hover {
  border: 1px solid #628db6;
}
.board_issue .id {
  float: left;
  font-weight: bold;
  margin-right: 10px;
}
.board_issue .subject_issue {
  margin-bottom: 0px;
  font-size:16px;
}

.board_issue .done {
  float: left;
  margin-left: 5px;
}
table#done {
  float: left
}
table#done tr td {
  width: 100px;
  height: 10px;
  float: left;
}
table#done tr td.todo {

  background: #eeeeee;
}
table#done tr td.done {
  background: #bae0ba;
}
.icon_close_issue {
  float: right;
  cursor: pointer;
  display: none;
  height:10px;
}

.text_new {
  position: absolute;
  padding: 2px 3px;
  top: -30px;
  right: 0;
  display: none;
  background: #e4e4e4;
}

#new_issue_form {
  display: none;
}

.new_issue {
  float: right;
  position: relative;
  cursor: pointer;
  margin: 5px 0 0 0;
}
img.icon {
  height: 20px;
  width: 20px;
  padding: 0px;
  position: relative;
}

.show_form,
.edit_form {
  width: 95%;
  position: relative;
  padding: 5px;
}
.connectedSortable .edit_form {
  display: none;
}
.edit_form select {
  background: #D9D9D9;
  margin: 0;
}

.icon_edit_issue {
  float: right;
  cursor: pointer;
  height:10px;
}
.text_edit {
  position: absolute;
  padding: 2px 3px;
  right: 0;
  top: -30px;
  background: #e4e4e4;
  color: #252525;
  display: none
}
.text_close {
  position: absolute;
  padding: 2px 3px;
  right: 0px;
  top: -30px;
  background: #e4e4e4;
  color: #252525;
  display: none
}
#create_issue p span {
  line-height: 30px;
}
#create_issue select {
  background: #D9D9D9
}
#create_issue {
  font-size: 12px;
  font-weight: bold;
}


.connectedSortable li {
  list-style: none;
}

#new_description_issue {
  height: 100px;
}
#new_tracker {
  float: left;
  margin-left: 5px;
}
#new_est_time {
  float: right
}

#create_issue {
  font-size: 11px;
  display: none;
}
#create_issue p input {
  margin-top: 5px;
}
#create_issue p input {

}
#create_issue p {
  margin-bottom: 0;
}
#new_description {
  height: 150px;
}
#p_status_ {
  display: none;
}
#p_priority_ {
}
#div_change_sprint {
  display: none;
}
#btn_close_issue_list {
  float: left;
}
#btn_change_sprint_issues, #change_sprint, #btn_move_issues, #cancel_move_issue {
  float: left;
  margin-left: 5px;
}
#div_change_sprint {
  float: left;
  display: none;
  padding: 5px;
  border: 1px solid #339BB9;
  margin-bottom:5px;
}
a.edit_comment {
  float:right;
}
.show_detail {
  font-size: 13px;
  float: left;
  margin-right: 10px;
  line-height: 20px
}
.icon-commnet {
  background:url("../images/icon-comment.png") no-repeat 0px 3px;
}
.icon {
  cursor: pointer;
}
span.error {
  color:red;
  float: left;
  display:block;
}
