p.issues {
	font-size: 20px;
	font-weight: bold;
	color: #555555;
	margin-top:0;
	float: left;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
.btn_submit:hover {
	text-decoration: none;
}




.view_issue {
	width: 100%;
}
.head_issue {
		background: #e4e4e4;
		color: #0044CC;
	}
	select#select_version {
		float: right;
		margin: 0 5px 0;
	}
	select#select_issue {
		float: right;
	}
	.btn_submit {
		float: right;
		margin: 0 0 0 5px;
	}
	.btn_submit_board {
		float: right;
	}
	#filter {

	}
	#check_all {
		cursor: pointer
	}


.board {
	background: #e3e3e3;
	padding: 0 10px 10px 10px;
	border: 1px solid #000000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
}
.board p.status{
	float:left;
	color:#606264;
	font-size:17px;
	font-weight:bold;
	font-family: Trebuchet MS,Georgia,"Times New Roman",serif;
	margin:5px 0 10px 10px;
	
}
.board_issue{
	border: 1px solid #000000;
	padding:5px;
	margin:0 0 5px 0;
	background: #ffffff;
	width:97%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.board_issue:hover{
	border: 1px solid #628db6;
}
.board_issue .id{
	float:left;
	font-weight:bold;
	margin-right:10px;
}
.board_issue .subject{
	margin-left:10px;
	margin-right:30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    
}
.board_issue .estimated{
	float:left
	
	
}
.board_issue .done{
	float:left;
	margin-left:5px;
}
table#done {
	float: left
}
table#done tr td{
	width: 100px;
	height:10px;
	float: left;
}
table#done tr td.todo{
	
	background: #eeeeee;
}
table#done tr td.done{
	background: #bae0ba;
}
.connectedSortable {
	padding: 5px 0;

}
.close_issue {
		position: relative;
		float: right;
		cursor: pointer;
	}
	.text_close {
		position: absolute;
		padding: 2px 3px;
		top: -30px;
		left: -30px;
		width: 75px;
		display: none;
		background: #e4e4e4;
	}
	.text_new {
		position: absolute;
		padding: 2px 3px;
		top: -30px;
		right: -50px;
		width: 70px;
		display: none;
		background: #e4e4e4;
	}
		.text_close_list {
		position: absolute;
		padding: 2px 3px;
		top: -30px;
		left: -30px;
		width: 75px;
		display: none;
		background: #e4e4e4;
	}
		.close_issue:hover p.text_close_list {
		display: inline;
	}
	.close_issue:hover p.text_close {
		display: inline;
	}
	.new_issue {
		position: relative;
		float: right;
		margin: 10px 0 10px 0;
		cursor: pointer;
	}
	.new_issue:hover .text_new {
		display: inline;
	}

	
