<form id="form_comment" >
    <input name="authenticity_token" type="hidden"  value="<%= form_authenticity_token %>"/>
    <textarea class="text_commnet" name="comment[comments]" style="height: 50px;width:100%"></textarea>
    <input type="hidden" name="comment[author_id]" value="<%= User.current.id %>"/>
    <input type="hidden" name="comment[commented_type]" value="Issue"/>
    <input type="hidden" name="comment[commented_id]" value="<%= @issue.id %>"/>
    <input type="hidden" name="project_id" value="<%= @project.id %>"/>
    <br />
    <br />
    <input type="button" value="Submit" class="btn_submit_create_comment" />
</form>
